.search {
    background-color: #1e1e1e;

}

.search-bar {
    background-color: whitesmoke;
    border: #000000;
    border-radius: 40mm;
    padding: 0.5rem;
    padding-left: 1rem;
    width: 50vw;
    /* justify-content: space-evenly; */
}

.search-area {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-magnifying-glass {
    color: var(--paleorange);
    height: 1.5rem;
    padding-right: 1rem;
}

.check {
    display: none;
}